//colour theme
// Theme Colours
$white: #ffffff;
$primary: #5865f2;
$secondary: #57f287;
$info: #eb459e;
$light: #e9e8e8;
$dark: #2c2f33;

$theme-colors: (
    "white": $white,
    "primary": $primary,
    "secondary": $secondary,
    "info": $info,
    "light": $light,
    "dark": $dark,
);

//custom theme colors
$discord-dark: #111111;
$discord-red: #ed4245;
$discord-yellow: #fee75c;
$discord-gray: #8f9396;

$discord-theme-colors: (
    "discdark": $discord-dark,
    "discred": $discord-red,
    "discyellow": $discord-yellow,
    "discgray": $discord-gray,

);

$theme-colors: map-merge($theme-colors, $discord-theme-colors);


//font weight
$font-weight-bolder: 900;

//import numbers
@import "./sizing";